services:
  symgen:
    build: .
    container_name: symgen_container
    env_file:
      - .env
    volumes:
      - .:/app
      - symgen_cache:/app/.cache
      - symgen_results:/app/results
      - /data:/app/data
    shm_size: '16g'
    user: "${UID}:${GID}"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    stdin_open: false
    tty: false
    restart: unless-stopped

volumes:
  symgen_cache:
    driver: local
  symgen_results:
    driver: local
